body {
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    font-family: 'Oswald';
}

p {
    font-family: 'Fira Sans';
}

a {
    color :brown;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#Css-title {
    color: rgb(170, 255, 0);
    font-weight: bold;
    font-size: 52px;
}

img {
    width:200px;
    height: 200px;
    border-radius: 100px;
}
